<h1>Huesped Creado</h1>
<p>
  Titulo: <%= @huesped.cedula %>
</p>
<p>
  Nombres: <%= @huesped.nombres %>
</p>
<p>
  Apellidos: <%= @huesped.apellidos %>
</p>


 <%= link_to "Volver a indice de huespeds", huespeds_path %>
 <%= link_to "Editar informacion de huesped", edit_huesped_path(@huesped.id) %>