<h1> Edicion solicitud! </h1>
<% if @solicitud.errors.any? %>
  <% @solicitud.errors.full_messages.each do |mensaje| %>
    <ul>
      <li> <%= mensaje %> </li>
    </ul>
  <% end %>
<% end %>

<%= form_for @solicitud do |f| %>
  <p>
    <%= f.label :IDservicio %><br/>
    <%= f.number_field :IDservicio  %><br/>
    </p>
    
    <p>
    <%= f.label :cedula_usuario %><br/>
    <%= f.number_field :cedula_usuario  %><br/>
    </p>
       
    <p>
    <%= f.label :precio %><br/>
    <%= f.number_field :precio  %><br/>
    </p>
        
    <p>
    <%= f.label :especificaciones %><br/>
    <%= f.text_area :especificaciones %><br/>
    </p>
    
    <p>
    <%= f.label :notas %><br/>
    <%= f.text_area :notas %><br/>
    </p>
    
        
    <p>
    <%= f.submit "Editar solicitud" %><br/>
    </p>

   <%= link_to "Volver a indice de solicitudes", huespedsservicios_path %>
<% end %>