<table>
  <tr>
    <th> ID </th><th> Nombre </th><th> Detalles </th><th> precioBase </th>
  </tr>
  <% @servicios.each do |servicio| %>
  <tr>
    <td><%= servicio.id %></td><td><%= servicio.nombre %></td><td><%= servicio.detalles %></td><td><%= servicio.precioBase %></td>
    <td><%= link_to "Editar Servicio", edit_servicio_path(servicio.id) %> </td>
    <td><%= link_to "Mostrar Servicio", servicio_path(servicio) %></td>
    <td><%= link_to "Eliminar Servicio", servicio_path(servicio), method: :delete, data: {confirm: "Seguro?" } %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Crear nuevo servicio", new_servicio_path %>